<!--Here I will make the dashboard of the HR Management system-->
<div class="dashboard">
  <div class="allDashboardItems">
    <div class="reports">
      <div class="rpt1">
        <h3>Reports</h3>
      </div>
      <div class="rpt2">
        <div class="RowReport firstRowReports">
          <div class="rpt fRR1">
            <i class="fas fa-tasks"></i>
            <p>Project Reports</p>
          </div>
          <div class="rpt fRR2">
            <i class="fas fa-bug"></i>
            <p>Bug Reports</p>
          </div>
        </div>
        <div class="RowReport secondRowReports">
          <div class="rpt sRR1">
            <i class="fas fa-id-card"></i>

            <p>Employee Reports</p>
          </div>
          <div class="rpt sRR2">
            <i class="fas fa-chart-line"></i>
            <p>Weekly Reports</p>
          </div>
        </div>
      </div>
    </div>
    <div class="teamLeads">
      <div class="headings">
        <div class="headingName">
          <h2>Team Leads</h2>
          <p>Over 500 members</p>
        </div>
        <div class="addButton">
          <button><span>+</span>New TeamLead</button>
        </div>
      </div>
      <div class="tables">
        <table border="1">
          <thead>
            <tr>
              <th>Team Lead</th>
              <th>Project</th>
              <th>Progress</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="tableImage">
                  <img
                    src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/1.png"
                    alt=""
                  />
                </div>
                <div class="allText tableText">
                  <h2>Ana Simmons</h2>
                  <p>HTML, JS, ReactJS</p>
                </div>
              </td>
              <td>
                <div class="allText teamLeadProject">
                  <h2>Do Plannar</h2>
                  <p>Web, UI/UX Design</p>
                </div>
              </td>
              <td>
                <div class="tableProgressBar">
                  <div class="progressPercentage">50%</div>
                  <div class="progress" style="height: 10px">
                    <div
                      class="progress-bar w-75 bg-success"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="tableIcon">
                  <i class="fa-solid fa-info"></i>
                  <i class="fa-solid fa-pen"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="tableImage">
                  <img
                    src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/1.png"
                    alt=""
                  />
                </div>
                <div class="allText tableText">
                  <h2>Ana Simmons</h2>
                  <p>HTML, JS, ReactJS</p>
                </div>
              </td>
              <td>
                <div class="allText teamLeadProject">
                  <h2>Do Plannar</h2>
                  <p>Web, UI/UX Design</p>
                </div>
              </td>
              <td>
                <div class="tableProgressBar">
                  <div class="progressPercentage">50%</div>
                  <div class="progress" style="height: 10px">
                    <div
                      class="progress-bar w-75 bg-success"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="tableIcon">
                  <i class="fa-solid fa-info"></i>
                  <i class="fa-solid fa-pen"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="tableImage">
                  <img
                    src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/1.png"
                    alt=""
                  />
                </div>
                <div class="allText tableText">
                  <h2>Ana Simmons</h2>
                  <p>HTML, JS, ReactJS</p>
                </div>
              </td>
              <td>
                <div class="allText teamLeadProject">
                  <h2>Do Plannar</h2>
                  <p>Web, UI/UX Design</p>
                </div>
              </td>
              <td>
                <div class="tableProgressBar">
                  <div class="progressPercentage">50%</div>
                  <div class="progress" style="height: 10px">
                    <div
                      class="progress-bar w-75 bg-success"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="tableIcon">
                  <i class="fa-solid fa-info"></i>
                  <i class="fa-solid fa-pen"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="tableImage">
                  <img
                    src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/1.png"
                    alt=""
                  />
                </div>
                <div class="allText tableText">
                  <h2>Ana Simmons</h2>
                  <p>HTML, JS, ReactJS</p>
                </div>
              </td>
              <td>
                <div class="allText teamLeadProject">
                  <h2>Do Plannar</h2>
                  <p>Web, UI/UX Design</p>
                </div>
              </td>
              <td>
                <div class="tableProgressBar">
                  <div class="progressPercentage">50%</div>
                  <div class="progress" style="height: 10px">
                    <div
                      class="progress-bar w-75 bg-success"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="tableIcon">
                  <i class="fa-solid fa-info"></i>
                  <i class="fa-solid fa-pen"></i>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
